---
import Layout from '../layouts/Layout.astro'
import LandingHeader from '../components/LandingHeader.astro'
import Section from '../components/Section.astro'
---

<Layout title="Welcome to Astro."> 
	<main>
		<LandingHeader/>
		<Section title='Model Y' price='Lease starting at $399/mo*' demoDrive='Demo Drive'/>
		<Section title='Model Y' price='Lease starting at $399/mo*' demoDrive='Demo Drive'/>
	</main>
</Layout>